@font-face {
  font-family: A1;
  src: url("fonts/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2");
}
@font-face {
  font-family: A2;
  src: url("fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text--color: #0468d7;
  --text--color2: #000000;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: clamp(14px, 1vw, 18px);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.view_1,
.view_2,
.view_3,
.view_4,
.view_5,
.view_6,
.view_7,
.view_10_inner,
.view_11_inner {
  max-width: 1300px;
  margin: auto;
}

.view_8 {
  max-width: 1905px;
  margin: auto;
}

main {
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: #000;
}
main header {
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1a68d3 5%, transparent 60%), linear-gradient(136deg, transparent, #71c7ee 290%), linear-gradient(115deg, #9d9af1, transparent 40%), linear-gradient(180deg, transparent 0, #1a68d3 70%), radial-gradient(ellipse at -70% -180%, transparent 80%, #71c7ee 0), radial-gradient(ellipse at bottom, #1a68d3 40%, transparent 80%), radial-gradient(ellipse at 5% 340%, transparent 80%, #bfc2f4 0);
}
main header nav {
  width: 100%;
  position: relative;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main header nav img {
  width: 10rem;
}
main header nav .nav_items {
  display: none;
}
main header h1 {
  font-family: A1;
  font-size: clamp(46px, 5vw, 60px);
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 6rem;
}
main header .images {
  width: 100%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  flex-wrap: nowrap;
  overflow: hidden;
}
main header .images .img_left {
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}
main header .images .img_left .left_1 {
  width: 525px;
}
main header .images .img_left .left_1 img {
  width: 100%;
  border-radius: 0.5rem;
}
main header .images .img_left .left_img_2 {
  display: flex;
  gap: 1rem;
}
main header .images .img_left .left_img_2 .left_2 {
  width: 201px;
  margin-top: 5rem;
}
main header .images .img_left .left_img_2 .left_2 img {
  width: 100%;
  border-radius: 0.5rem;
}
main header .images .img_left .left_img_2 .left_3 {
  width: 201px;
}
main header .images .img_left .left_img_2 .left_3 img {
  width: 100%;
  border-radius: 0.5rem;
}
main header .images .img_meiddle {
  width: clamp(250px, 50vw, 368px);
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
main header .images .img_meiddle .meiddle_image img {
  width: 100%;
  border-radius: 0.7rem;
}
main header .images .img_right {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5.5rem;
  gap: 1rem;
}
main header .images .img_right .right_images_1 {
  display: flex;
  flex-direction: column;
}
main header .images .img_right .right_images_1 .right_1 {
  width: 201px;
}
main header .images .img_right .right_images_1 .right_1 img {
  width: 100%;
  border-radius: 0.7rem;
}
main header .images .img_right .right_images_1 .right_2 {
  width: 201px;
}
main header .images .img_right .right_images_1 .right_2 img {
  width: 100%;
  border-radius: 0.7rem;
}
main header .images .img_right .right_images_2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5.5rem;
}
main header .images .img_right .right_images_2 .right_3 {
  width: 482px;
}
main header .images .img_right .right_images_2 .right_3 img {
  width: 100%;
  border-radius: 0.7rem;
}
main header .images .img_right .right_images_2 .right_4 {
  width: 201px;
}
main header .images .img_right .right_images_2 .right_4 img {
  width: 100%;
  border-radius: 0.7rem;
}
main header .text {
  font-family: A2;
  text-align: center;
  font-size: clamp(34px, 5vw, 36px);
  margin-top: 3rem;
  padding: 1.5rem;
}
main header .text button {
  margin-top: 4rem;
  margin-bottom: 6rem;
  font-family: A1;
  color: transparent;
  padding: 0.8rem 2.5rem;
  border-radius: 50px;
  border: none;
  color: #2270d5;
  font-weight: 600;
}
main .view_1 {
  width: 100%;
  padding: 1.5rem;
  padding-top: 4rem;
}
main .view_1 .view_1_text h2 {
  font-family: A2;
  font-size: 2.28rem;
  color: #000;
  text-align: center;
  font-weight: 400;
}
main .view_1 .view_1_text h2 br {
  display: none;
}
main .view_1 .view_1_button {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 3rem;
}
main .view_1 .view_1_button .view_1_button_inner {
  display: flex;
  justify-content: center;
  background: #ebf4fc;
  padding: 0 1rem;
  border-radius: 50px;
  font-family: A1;
  font-weight: 900;
}
main .view_1 .view_1_button .view_1_button_inner h3 {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  color: #0468d7;
  border-radius: 50px;
  font-weight: 400;
  transition: all 0.5s ease;
  cursor: pointer;
}
main .view_1 .view_1_button .view_1_button_inner .fast {
  background: #0468d7;
  color: whitesmoke;
}
main .view_1 .view_1_button .view_1_button_inner .productive:hover {
  background: rgba(255, 255, 255, 0.63);
}
main .view_1 .view_1_button .view_1_button_inner .flexible:hover {
  background: rgba(255, 255, 255, 0.63);
}
main .view_2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .view_2 .video {
  width: 100%;
}
main .view_2 .video video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view_2 .view_2_texts {
  padding: 0 4rem;
  font-family: A1;
}
main .view_2 .view_2_texts h1 {
  font-size: clamp(34px, 4vw, 36px);
  color: #14c2ad;
}
main .view_2 .view_2_texts p {
  font-size: clamp(18px, 2vw, 20px);
  color: black;
  opacity: 70%;
  line-height: 1.4;
  margin-top: 2rem;
}
main .view_2 .view_2_texts button {
  font-family: A1;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  border: none;
  color: #0468d7;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
  border: 1px solid #0468d7;
  background: #ffffff;
  transition: all 0.5s ease;
}
main .view_2 .view_2_texts button:hover {
  background: var(--text--color);
  color: white;
}
main .view_3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin-top: 4rem;
}
main .view_3 .view_3_img img {
  width: 100%;
}
main .view_3 .view_3_texts {
  width: 100%;
  font-family: A1;
  margin-top: 4rem;
}
main .view_3 .view_3_texts h4 {
  font-size: clamp(18px, 2vw, 20px);
  color: var(--text--color);
}
main .view_3 .view_3_texts h2 {
  font-size: clamp(46px, 6vw, 60px);
  color: var(--text--color2);
  line-height: 0.9;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .view_3 .view_3_texts p {
  font-size: 18px;
  color: var(--text--color2);
  opacity: 80%;
}
main .view_3 .view_3_texts button {
  font-family: A1;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  border: 1px solid #0468d7;
  color: #0468d7;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  margin-top: 2rem;
  transition: all 0.5s ease;
}
main .view_3 .view_3_texts button:hover {
  background: var(--text--color);
  color: white;
}
main .view_4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin-top: 4rem;
}
main .view_4 .view_4_img img {
  width: 100%;
}
main .view_4 .view_4_texts {
  width: 100%;
  font-family: A1;
  margin-top: 4rem;
}
main .view_4 .view_4_texts h4 {
  font-size: clamp(18px, 2vw, 20px);
  color: #14c4ba;
}
main .view_4 .view_4_texts h2 {
  font-size: clamp(46px, 6vw, 60px);
  color: var(--text--color2);
  line-height: 0.9;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .view_4 .view_4_texts p {
  font-size: 18px;
  color: var(--text--color2);
  opacity: 80%;
}
main .view_4 .view_4_texts button {
  font-family: A1;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  border: 1px solid #0468d7;
  color: #0468d7;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  margin-top: 2rem;
  transition: all 0.5s ease;
}
main .view_4 .view_4_texts button:hover {
  background: var(--text--color);
  color: white;
}
main .view_5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin-top: 4rem;
}
main .view_5 .view_5_img img {
  width: 100%;
}
main .view_5 .view_5_texts {
  width: 100%;
  font-family: A1;
  margin-top: 4rem;
}
main .view_5 .view_5_texts h4 {
  font-size: clamp(18px, 2vw, 20px);
  color: #f25d50;
}
main .view_5 .view_5_texts h2 {
  font-size: clamp(46px, 6vw, 60px);
  color: var(--text--color2);
  line-height: 0.9;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .view_5 .view_5_texts p {
  font-size: 18px;
  color: var(--text--color2);
  opacity: 80%;
}
main .view_5 .view_5_texts button {
  font-family: A1;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  border: 1px solid #0468d7;
  color: #0468d7;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  margin-top: 2rem;
  transition: all 0.5s ease;
}
main .view_5 .view_5_texts button:hover {
  background: var(--text--color);
  color: white;
}
main .view_6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin-top: 4rem;
}
main .view_6 .view_6_img img {
  width: 100%;
}
main .view_6 .view_6_texts {
  width: 100%;
  font-family: A1;
  margin-top: 4rem;
}
main .view_6 .view_6_texts h4 {
  font-size: clamp(18px, 2vw, 20px);
  color: #833ef2;
}
main .view_6 .view_6_texts h2 {
  font-size: clamp(46px, 6vw, 60px);
  color: var(--text--color2);
  line-height: 0.9;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .view_6 .view_6_texts p {
  font-size: 18px;
  color: var(--text--color2);
  opacity: 80%;
}
main .view_6 .view_6_texts button {
  font-family: A1;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  border: 1px solid #0468d7;
  color: #0468d7;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  margin-top: 2rem;
  transition: all 0.5s ease;
}
main .view_6 .view_6_texts button:hover {
  background: var(--text--color);
  color: white;
}
main .view_7 {
  width: 100%;
  padding: 2rem;
}
main .view_7 .view_7_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(90deg, rgb(255, 132, 133), rgb(249, 234, 198));
  border-radius: 40px;
  margin-top: 5rem;
}
main .view_7 .view_7_inner .view_7_texts {
  padding: 2.5rem;
  color: var(--text--color2);
  font-family: A1;
}
main .view_7 .view_7_inner .view_7_texts h4 {
  font-size: 1.111rem;
}
main .view_7 .view_7_inner .view_7_texts h2 {
  font-size: clamp(34px, 3vw, 36px);
  font-weight: 200;
  margin-top: 1rem;
}
main .view_7 .view_7_inner .view_7_texts button {
  font-family: A1;
  padding: 0 0;
  border-radius: 50px;
  border: none;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
main .view_7 .view_7_inner .view_7_image {
  width: 100%;
}
main .view_7 .view_7_inner .view_7_image img {
  position: relative;
  width: 100%;
  bottom: -5px;
}
main .view_8 {
  width: 100%;
  margin-top: 5rem;
  overflow: hidden;
  position: relative;
  z-index: 77;
  overflow: hidden;
}
main .view_8 .view_8_inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 24px;
}
main .view_8 .view_8_inner .view_8_cards_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
main .view_8 .view_8_inner .view_8_cards_1 .view_8_card_1_1 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_1 .view_8_card_1_1 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_1 .view_8_card_1_2 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_1 .view_8_card_1_2 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_1 .view_8_card_1_3 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_1 .view_8_card_1_3 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_1 .view_8_card_1_4 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_1 .view_8_card_1_4 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_2 .view_8_card_2_1 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_2 .view_8_card_2_1 img {
  width: 64px;
}
main .view_8 .view_8_inner .view_8_cards_2 .view_8_card_2_2 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_2 .view_8_card_2_2 img {
  width: 64px;
}
main .view_8 .view_8_inner .view_8_cards_2 .view_8_card_2_3 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_2 .view_8_card_2_3 img {
  width: 64px;
}
main .view_8 .view_8_inner .view_8_cards_4 {
  margin-top: 2.5rem;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner {
  display: flex;
  align-items: start;
  gap: 24px;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner .view_8_cards_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner .view_8_cards_3 .view_8_card_3_1 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner .view_8_cards_3 .view_8_card_3_1 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner .view_8_cards_3 .view_8_card_3_2 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner .view_8_cards_3 .view_8_card_3_2 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner .view_8_card_4_1 {
  width: clamp(220px, 10vw, 356px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  padding: clamp(30px, 5vw, 35px);
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner .view_8_card_4_1 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner .view_8_cards_5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner .view_8_cards_5 .view_8_card_5_1 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner .view_8_cards_5 .view_8_card_5_1 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner .view_8_cards_5 .view_8_card_5_2 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner .view_8_cards_5 .view_8_card_5_2 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_texts {
  width: 100%;
  text-align: center;
  font-family: A1;
  color: var(--text--color2);
  margin-top: 4rem;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_texts h4 {
  font-size: clamp(18px, 2vw, 20px);
  opacity: 80%;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_texts h1 {
  font-size: clamp(46px, 6vw, 60px);
  line-height: 0.99;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_texts p {
  font-size: clamp(18px, 2vw, 20px);
  opacity: 70%;
  width: 80%;
  margin: auto;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_texts .view_8_buttons .view_8_button_1 {
  font-family: A1;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  border: 1px solid #0468d7;
  color: #0468d7;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  margin-top: 2rem;
  transition: all 0.5s ease;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_texts .view_8_buttons .view_8_button_1:hover {
  background: var(--text--color);
  color: white;
}
main .view_8 .view_8_inner .view_8_cards_4 .view_8_texts .view_8_buttons .view_8_button_2 {
  font-family: A1;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  border: none;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}
main .view_8 .view_8_inner .view_8_cards_6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_6 .view_8_card_6_1 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_6 .view_8_card_6_1 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_6 .view_8_card_6_2 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_6 .view_8_card_6_2 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_6 .view_8_card_6_3 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_6 .view_8_card_6_3 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
main .view_8 .view_8_inner .view_8_cards_7 .view_8_cards_7_1 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_7 .view_8_cards_7_1 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_7 .view_8_cards_7_2 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_7 .view_8_cards_7_2 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_7 .view_8_cards_7_3 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_7 .view_8_cards_7_3 img {
  width: 100%;
}
main .view_8 .view_8_inner .view_8_cards_7 .view_8_cards_7_4 {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: clamp(100px, 10vw, 163px);
  height: clamp(100px, 10vw, 163px);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view_8 .view_8_inner .view_8_cards_7 .view_8_cards_7_4 img {
  width: 100%;
}
main .view_9 {
  width: 100%;
  padding: 2rem;
  position: relative;
}
main .view_9 .view_9_inner {
  background-image: linear-gradient(90deg, rgb(156, 196, 245), rgb(184, 240, 247));
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
main .view_9 .view_9_inner .view_9_texts {
  padding: 3rem;
  color: var(--text--color2);
  font-family: A1;
}
main .view_9 .view_9_inner .view_9_texts h4 {
  font-size: clamp(18px, 2vw, 20px);
}
main .view_9 .view_9_inner .view_9_texts h2 {
  font-size: clamp(34px, 4vw, 36px);
  font-weight: 100;
  margin-top: 0.7rem;
}
main .view_9 .view_9_inner .view_9_texts .view_9_buttons {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 2rem;
}
main .view_9 .view_9_inner .view_9_texts .view_9_buttons .view_9_button_1 {
  font-family: A1;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  border: 1px solid #000;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}
main .view_9 .view_9_inner .view_9_texts .view_9_buttons .view_9_button_2 {
  font-family: A1;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  border: none;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  margin-top: 0.7rem;
}
main .view_9 .view_9_inner .view_9_image {
  width: 100%;
  position: relative;
  bottom: -4px;
}
main .view_9 .view_9_inner .view_9_image img {
  width: 100%;
}
main .view_10 {
  width: 100%;
  padding: 6rem 2rem;
  background-color: #f8f9fa;
  color: var(--text--color2);
  font-family: A1;
  overflow: hidden;
}
main .view_10 .view_10_inner h1 {
  font-size: clamp(46px, 6vw, 60px);
  margin-bottom: 5rem;
}
main .view_10 .view_10_inner .view_10_cards {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 2rem;
}
main .view_10 .view_10_inner .view_10_cards .view_10_card_1,
main .view_10 .view_10_inner .view_10_cards .view_10_card_2,
main .view_10 .view_10_inner .view_10_cards .view_10_card_3 {
  width: 100%;
  height: clamp(435px, 50vw, 520px);
  margin: auto;
  margin-bottom: 1.7rem;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s ease;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 3rem;
  flex-shrink: 0;
}
main .view_10 .view_10_inner .view_10_cards .view_10_card_1 img,
main .view_10 .view_10_inner .view_10_cards .view_10_card_2 img,
main .view_10 .view_10_inner .view_10_cards .view_10_card_3 img {
  width: 100%;
}
main .view_10 .view_10_inner .view_10_cards .view_10_card_1 h1,
main .view_10 .view_10_inner .view_10_cards .view_10_card_2 h1,
main .view_10 .view_10_inner .view_10_cards .view_10_card_3 h1 {
  font-size: clamp(24px, 3vw, 28px);
  margin-top: 1rem;
}
main .view_10 .view_10_inner .view_10_cards .view_10_card_1 button,
main .view_10 .view_10_inner .view_10_cards .view_10_card_2 button,
main .view_10 .view_10_inner .view_10_cards .view_10_card_3 button {
  font-family: A1;
  padding: 0;
  border-radius: 50px;
  border: none;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  font-weight: 900;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
main .view_10 .view_10_inner .view_10_card_1:hover {
  background-size: 100% 100%;
  color: whitesmoke;
  background: #0468d7;
}
main .view_10 .view_10_inner .view_10_card_2:hover {
  background-size: 100% 100%;
  color: whitesmoke;
  background: #0468d7;
}
main .view_10 .view_10_inner .view_10_card_3:hover {
  background-size: 100% 100%;
  color: whitesmoke;
  background: #0468d7;
}
main .view_10 .view_10_inner .line {
  width: 100%;
  padding: 0.1rem;
  background: #e8eaed;
  border-radius: 50px;
}
main .view_10 .view_10_inner .view_10_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  margin-top: 4rem;
}
main .view_10 .view_10_inner .view_10_buttons .prev,
main .view_10 .view_10_inner .view_10_buttons .next {
  width: 2rem;
}
main .view_11 {
  width: 100%;
}
main .view_11 .view_11_inner {
  font-family: A1;
  color: var(--text--color2);
  margin-top: 7rem;
  padding: 2rem;
}
main .view_11 .view_11_inner .view_11_texts {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
main .view_11 .view_11_inner .view_11_texts h1 {
  font-size: clamp(46px, 5vw, 60px);
  line-height: 0.98;
}
main .view_11 .view_11_inner .view_11_texts .view_11_form h2 {
  font-size: clamp(24px, 4vw, 28px);
  margin-top: 2rem;
  opacity: 80%;
}
main .view_11 .view_11_inner .view_11_texts .view_11_form .view_11_input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
  background-color: #f1f3f4;
  border-radius: 50px;
  padding: 1rem 2rem;
  margin-top: 3rem;
}
main .view_11 .view_11_inner .view_11_texts .view_11_form .view_11_input input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.3rem;
}
main .view_11 .view_11_inner .view_11_image {
  position: relative;
  background-color: #042449;
  margin-top: 5rem;
  color: #ffffff;
  padding: 7rem 3rem;
  border-radius: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: right;
  margin-bottom: 2rem;
}
main .view_11 .view_11_inner .view_11_image .view_11_media {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 77;
}
main .view_11 .view_11_inner .view_11_image .view_11_media .view_11_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
main .view_11 .view_11_inner .view_11_image .view_11_text {
  position: relative;
  z-index: 88;
}
main .view_11 .view_11_inner .view_11_image .view_11_text h1 {
  font-size: clamp(46px, 6vw, 60px);
  margin-bottom: 1.7rem;
}
main .view_11 .view_11_inner .view_11_image .view_11_text p {
  font-size: clamp(18px, 2vw, 20px);
  margin-bottom: 1.7rem;
}
main .view_11 .view_11_inner .view_11_image .view_11_text .view_11_buttons {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: 1rem;
  gap: 1rem;
}
main .view_11 .view_11_inner .view_11_image .view_11_text .view_11_buttons .view_11_button_1 {
  font-family: A1;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  border: none;
  color: #0468d7;
  font-weight: 600;
  cursor: pointer;
  background-color: white;
}
main .view_11 .view_11_inner .view_11_image .view_11_text .view_11_buttons .view_11_button_2 {
  font-family: A1;
  padding: 0;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}
main footer {
  width: 100%;
  background-color: #f8f9fa;
  font-family: A1;
}
main footer .footer_inner {
  padding: 3rem;
}
main footer .footer_inner .services {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
main footer .footer_inner .services .logo {
  width: 40%;
}
main footer .footer_inner .services .logo img {
  width: 100%;
}
main footer .footer_inner .services .footer_services_1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
main footer .footer_inner .services .footer_services_1 .about_flutter {
  padding: 2rem;
}
main footer .footer_inner .services .footer_services_1 .about_flutter h4 {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
main footer .footer_inner .services .footer_services_1 .about_flutter ul {
  list-style: none;
  font-size: 16px;
}
main footer .footer_inner .services .footer_services_1 .about_flutter ul li {
  margin-bottom: 0.5rem;
  color: #4a4a4a;
}
main footer .footer_inner .services .footer_services_1 .learn_flutter {
  padding: 2rem;
}
main footer .footer_inner .services .footer_services_1 .learn_flutter h4 {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
main footer .footer_inner .services .footer_services_1 .learn_flutter ul {
  list-style: none;
  font-size: 16px;
}
main footer .footer_inner .services .footer_services_1 .learn_flutter ul li {
  margin-bottom: 0.5rem;
  color: #4a4a4a;
}
main footer .footer_inner .services .footer_services_1 .multi_platform {
  padding: 2rem;
}
main footer .footer_inner .services .footer_services_1 .multi_platform h4 {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
main footer .footer_inner .services .footer_services_1 .multi_platform ul {
  list-style: none;
  font-size: 16px;
}
main footer .footer_inner .services .footer_services_1 .multi_platform ul li {
  margin-bottom: 0.5rem;
  color: #4a4a4a;
}
main footer .footer_inner .footer_social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
main footer .footer_inner .copywright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1rem;
  gap: 2rem;
  color: #4a4a4a;
}
main footer .footer_inner .copywright p {
  text-align: center;
}
main footer .footer_inner .copywright a {
  text-decoration: none;
  margin-right: 0.5rem;
  color: #4a4a4a;
}

@media (min-width: 1024px) {
  main {
    width: 100%;
    height: 100%;
  }
  main header {
    width: 100%;
  }
  main header nav {
    padding: 1.5rem 3rem;
  }
  main header nav img {
    width: 7rem;
  }
  main header nav svg {
    display: none;
  }
  main header nav .nav_items {
    display: inline-block;
  }
  main header nav .nav_items ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-family: A1;
    font-size: 0.8rem;
    font-weight: 600;
  }
  main header nav .nav_items ul li {
    padding: 0.5rem 0.8rem;
    background: transparent;
    border-radius: 50px;
    color: whitesmoke;
    cursor: pointer;
  }
  main header nav .nav_items ul li:hover {
    background: rgba(245, 245, 245, 0.2);
  }
  main header nav .nav_items ul img {
    width: 2rem;
    padding: 0.5rem;
    background: rgba(245, 245, 245, 0);
    border-radius: 50%;
    cursor: pointer;
  }
  main header nav .nav_items ul img:hover {
    background: rgba(245, 245, 245, 0.295);
    border-radius: 50%;
  }
  main header nav .nav_items ul button {
    font-family: A1;
    padding: 0.6rem 2rem;
    border-radius: 50px;
    border: none;
    color: #2270d5;
    font-weight: 600;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  main header .text {
    width: 890px;
    margin: auto;
    margin-top: 6rem;
  }
  main header .text button {
    margin-bottom: 5rem;
  }
  main .view_1 .view_1_text h2 {
    font-size: 32px;
  }
  main .view_1 .view_1_text h2 br {
    display: inline-block;
  }
  main .view_1 .view_1_button .view_1_button_inner h3 {
    padding: 0.4rem 2rem;
  }
  main .view_2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  main .view_2 .video {
    width: 80%;
  }
  main .view_2 .video video {
    width: 100%;
  }
  main .view_2 .view_2_texts {
    width: 40%;
    padding: 0rem;
  }
  main .view_3 {
    width: 100%;
    flex-direction: row-reverse;
    gap: 6rem;
  }
  main .view_3 .view_3_img {
    width: 40%;
  }
  main .view_3 .view_3_img img {
    width: 100%;
  }
  main .view_3 .view_3_texts {
    width: 40%;
  }
  main .view_3 .view_3_texts p {
    width: 80%;
    font-size: clamp(18px, 4vw, 20px);
  }
  main .view_3 .view_3_texts button {
    font-size: 14px;
  }
  main .view_4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 7rem;
  }
  main .view_4 .view_4_img {
    width: 40%;
  }
  main .view_4 .view_4_img img {
    width: 100%;
  }
  main .view_4 .view_4_texts {
    width: 45%;
  }
  main .view_4 .view_4_texts p {
    width: 80%;
    font-size: clamp(18px, 4vw, 20px);
  }
  main .view_4 .view_4_texts button {
    font-size: 14px;
  }
  main .view_5 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 7rem;
  }
  main .view_5 .view_5_img {
    width: 38.5%;
  }
  main .view_5 .view_5_img img {
    width: 100%;
  }
  main .view_5 .view_5_texts {
    width: 40%;
  }
  main .view_5 .view_5_texts p {
    width: 90%;
    font-size: clamp(18px, 4vw, 20px);
  }
  main .view_5 .view_5_texts button {
    font-size: 14px;
  }
  main .view_6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 7rem;
  }
  main .view_6 .view_6_img {
    width: 40%;
  }
  main .view_6 .view_6_img img {
    width: 100%;
  }
  main .view_6 .view_6_texts {
    width: 40%;
  }
  main .view_6 .view_6_texts p {
    width: 100%;
    font-size: clamp(18px, 4vw, 20px);
  }
  main .view_6 .view_6_texts button {
    font-size: 14px;
  }
  main .view_7 {
    width: 100%;
    padding: 2rem;
  }
  main .view_7 .view_7_inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-top: 10rem;
    position: relative;
  }
  main .view_7 .view_7_inner .view_7_texts {
    width: 60%;
  }
  main .view_7 .view_7_inner .view_7_texts button {
    margin-bottom: 0rem;
  }
  main .view_7 .view_7_inner .view_7_image {
    width: 32%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  main .view_8 .view_8_inner .view_8_cards_4 {
    width: 700px;
  }
  main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner .view_8_card_4_1 {
    width: 356px;
    height: 356px;
  }
  main .view_8 .view_8_inner .view_8_cards_4 .view_8_cards_4_inner .view_8_card_4_1 img {
    width: 50%;
  }
  main .view_8 .view_8_inner .view_8_cards_4 .view_8_texts p {
    width: 70%;
    margin: auto;
  }
  main .view_9 {
    max-width: 1300px;
    margin: auto;
    margin-top: 7rem;
  }
  main .view_9 .view_9_inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    position: relative;
  }
  main .view_9 .view_9_inner .view_9_texts {
    width: 70%;
  }
  main .view_9 .view_9_inner .view_9_texts .view_9_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 2rem;
  }
  main .view_9 .view_9_inner .view_9_texts .view_9_buttons .view_9_button_2 {
    margin-top: 0rem;
  }
  main .view_9 .view_9_inner .view_9_image {
    width: 31.8%;
    position: absolute;
    bottom: -4px;
    right: 0;
  }
  main .view_9 .view_9_inner .view_9_image img {
    width: 100%;
  }
  main .view_10 .view_10_inner .view_10_cards .view_10_card_1,
  main .view_10 .view_10_inner .view_10_cards .view_10_card_2,
  main .view_10 .view_10_inner .view_10_cards .view_10_card_3 {
    width: 37%;
  }
  main .view_11 .view_11_inner {
    margin-top: 5rem;
  }
  main .view_11 .view_11_inner .view_11_texts {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  main .view_11 .view_11_inner .view_11_texts .view_11_form h2 {
    margin-top: 0rem;
  }
  main .view_11 .view_11_inner .view_11_texts .view_11_form .view_11_input {
    margin-top: 2rem;
  }
  main .view_11 .view_11_inner .view_11_texts .view_11_form .view_11_input input {
    font-size: 1rem;
  }
  main .view_11 .view_11_inner .view_11_image {
    padding: 3.5rem 3rem;
  }
  main .view_11 .view_11_inner .view_11_image .view_11_media {
    width: 40%;
  }
  main .view_11 .view_11_inner .view_11_image .view_11_text h1 {
    margin-bottom: 0.7rem;
  }
  main .view_11 .view_11_inner .view_11_image .view_11_text .view_11_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  main footer .footer_inner {
    padding: 4rem;
  }
  main footer .footer_inner .services {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
  }
  main footer .footer_inner .services .logo {
    width: 8%;
  }
  main footer .footer_inner .services .footer_services_1 {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
  }
  main footer .footer_inner .services .footer_services_1 .about_flutter {
    padding: 0rem;
  }
  main footer .footer_inner .services .footer_services_1 .learn_flutter {
    padding: 0rem;
  }
  main footer .footer_inner .services .footer_services_1 .multi_platform {
    padding: 0rem;
  }
  main footer .footer_inner .footer_social {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
  }
  main footer .footer_inner .copywright {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 0rem;
  }
}/*# sourceMappingURL=style.css.map */